.app{
display: grid;
place-items: center;
height; 100vh;
background-colour: #dadbd3;
}

.app{
display:flex;
background-colour: #ededed;
margin-top: -50px;
height: 90vh;
width: 90vw;
box-shadow: -1px 4px 20px -6px rgba(0, 0 , 0 ,0.75); 
}

.sidebar{
display: flex;
flex-direction: column;
flex: 0.35;
}


.chat{
display: flex;
flex-direction: column;
flex: 0.65;
}
